.article-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--color-surface);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 10px;
}

.article-card:hover {
  transform: translateY(-4px);
}

.article-card-image {
  padding: 10px;
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: center;
}

.article-card-content {
  width: 95%;
  align-self: center;
}

.article-card-title {
  margin-bottom: 10px;
}

.article-card-description {
  margin-bottom: 10px;
  color: var(--color-text-secondary);
}

.article-card-date {
  color: var(--color-text-tertiary);
} 