.book-search {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.book-search-cover {
  width: 50px;
  height: 75px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: var(--shadow-sm);
}

.book-search-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
} 