.book-search {
  display: flex;
  width: 100%;
  align-items: center;
}

.book-search-cover {
  object-fit: cover;
  border-radius: 4px;
  box-shadow: var(--shadow-sm);
}

.book-search-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
} 

.book-search-cover-container {
  display: flex;
  flex-direction: column;
}
